body{
    justify-content: center;
    align-items: center;
    overflow:hidden;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
    flex-direction:column;
    border: 1px solid black;
    max-width: 500px;
    padding: 20px;
    overflow: hidden;
    text-align: center;
  }
 
.sub-card{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow:hidden;
}
 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    color:white;
    padding: 2px 16px;
    border-radius: 6px;
    background-color: grey;
  }
  img {
    border-radius: 5px 5px 0 0;
    width:100%;
    height:100%;
    object-fit: cover;
  }
 